

body {
    font-family: "Montserrat", sans-serif;
    background: #bac3ae;
    margin: 0%;
  }
  
  img {
    width: 10%;
    height: 10%;
    margin: 0px 0px 0px 50px;
  }
  header {
    margin: 0px 0px 0px 0px;
    background: #dce1d6;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  main{
    width: 100% ;
   
  }
  nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .link-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: black;
    margin: 0px 10px 0px 10px;
    float: left;
  }
  .button-header {
    background: green;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    width: 140px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    line-height: 29px;
    cursor: pointer;
    margin: 0px 40px 0px 0px;
  }
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #160202;
    border-radius: 5px;
    overflow: hidden;
    margin:10% 20% 0% 30%;
    border: none; 


    
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 10px;
  }

  .servicos-container {
    margin:  1% auto;
    display: flex;
      justify-content: space-around;
    
      
    }
    
    
    .servico-card {
      width: 300px;
      padding: 10px;
      margin: 0% ;
      background-color: #04b98c;
      border-radius: 8px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 50);
      border: 1px solid black;
    
    }
    .servico-card:hover {
        background-color: #0aa52c;
      }
    .servico-card img {
      width: 110px;
      height: 110px;
      margin: 10px;
    
    }
    
    .servico-card h3 {
      margin-bottom: 10px;
    }
    
    .servico-card button {
      padding: 10px 20px;
      background-color: #28a745;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .servico-card button:hover {
      background-color: #218838;
    }
    
  