* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#botao {
  width: 70px;
  height: 70px;
  borde: 4px Solid #ccc;
  border-radius: 20px;
  background: transparent;
}
.linha {
  whdth: 10px;
  height: 5px;
  background-color: #ccc;
  display: block;
  margin: 10px;
  position: relative;
  transform-origin: center;
  transition: 0.2s;
}
#botao.ativar {
  border: 3px solid red;
}

#botao.ativar .linha:nth-child(1) {
  transform: translateY(15px) rotate(-25deg);
  background-color: red;
  
}
#botao.ativar .linha:nth-child(3) {
  transform: translateY(-15px) rotate(25deg);
  background-color: red;
}
#botao.ativar .linha:nth-child(2) {
  width: 0;
}
